body{
    background: url(https://plus.unsplash.com/premium_photo-1711982397948-0a0426dbda91?q=80&w=1175&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
   center/cover;
   height: 100vh;
   margin: 0;
   align-items: center;
   justify-content: center;
   display: flex;
}

form{
    background: rgba(21, 141, 105, 0.612);
    padding: 40px;
    width: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: medium;
}

input, button{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
}